

h1 {font-family:"Comic Sans MS", cursive, sans-serif ;
background-color: black;
color: white;
	



}

body {background-color: purple;

}


footer {background-color: green;}
header {background-color: green;}

}
#menuitem1 {background-color: red;}

nav a {text-decoration: none;
	color: red;}
nav a:link {text-decoration:none;
color: red}
nav a:visited {color: purple;
}
nav a:hover {font-weight: bold;
color: pink;}
nav a:active {font-weight: normal;}

